html, body {
  max-width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.App-link {
  color: #61dafb;
}

a {
  color: #333;
}

a:visited {
  color: #333;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 0;
}

hr {
  background-color: #BBB;
  height: 1px;
  border: 0;
  width: 30%;
  margin-top: 10px;
  border-color: #BBB;
}

.header-container {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 767px;
  display: inline-block;
  width: 100vw;
  height: 60px;
  padding: 0px;
  margin: auto;
  margin-top: 20px;
  z-index: 1;
}

.nav-buttons-container {
  position: absolute;
  right: 50px;
}

.header-logo {
  position: absolute;
  left: 50px;
  font-weight: bolder;
  font-size: large;
  color: #111111;
}

.nav-buttons {
  margin-left: 50px;
}

.home-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: inline-block;
  line-height: calc(100vh - 60px - 4px);
}

.txt-container {
  height: 100%;
  vertical-align: middle;
  align-content: center;
}

.txt-rotate {
  margin: auto;
}

.projects-container {
  display: flex;
  margin-top: 100vh;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.experience-container {
  display: flex;
  margin-top: calc(2*100vh);
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.experience-header {
  margin-top: 100px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 170px;
  margin-right: 170px;
  padding-top: 20px;
}

.experience-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 170px;
  margin-right: 170px;
  padding-top: 20px;
}

.experience-card {
  width: 370px;
  min-width: 370px;
  height: 415px;
  border-radius: 20px;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  margin: 15px;
  overflow: hidden;
}

.project-card {
  width: 370px;
  min-width: 370px;
  height: 415px;
  border-radius: 20px;
  box-shadow: 0 2px 44px 0 rgba(0,0,0,0.14);
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  margin: 15px;
  overflow: hidden;
}

.project-card:hover {
  width: 370px;
  min-width: 370px;
  height: 415px;
  border-radius: 20px;
  box-shadow: 0px 32px 60px rgba(0, 0, 0, 0.16);
  transform: translate(0px, -12px) !important;
  transition-delay: 0s !important;
  transition: all 250ms cubic-bezier(.02, .01, .47, 1);
  margin: 15px;
  overflow: hidden;
}

.project-title {
  text-align: left;
  margin-left: 17px;
  margin-top: 5px;
  color: #555;
}

.project-subtitle {
  text-align: left;
  margin-left: 17px;
  margin-top:3px;
  font-weight: 600;
  color: #777;
}

.project-body {
  text-align: left;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #777;
}

html body [data-ca3_iconfont="ETmodules"]::before {
  font-family: "ETmodules";
}
[data-ca3_icon]::before {
  font-weight: normal;
  content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background: #000 url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=) no-repeat;
  background-size: contain;
  filter: invert(1);
}

.ca3-scroll-down-link {
  cursor:pointer;
  height: 60px;
  width: 60px;
  margin: 0px 0 0 -30px;
  line-height: 60px;
  position: absolute;
  bottom: 50px;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
  }
  @-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
  }
  @keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}